<!DOCTYPE html>
<html>
<head>
  <title>PayAllocation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<%= link_to "Employees", employees_path, class: "navbar-brand" %>
				<%= link_to "Grants", grants_path, class: "navbar-brand" %>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
				<ul class="nav navbar-nav navbar-left">
					<!-- Future links -->
				</ul>
				
			</div>
		</div>
	</nav>

<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
